{erl_opts, [debug_info]}.
{deps, [ {cowboy, {git, "https://github.com/ninenines/cowboy.git", {branch, "master"}}},
         {pgo, {git, "https://github.com/tsloughter/pgo.git", {branch, "master"}}}
       ]
}.

{relx, [{release, {unit4, "0.1.0"},
         [unit4,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
