[
  {unit6, []}
, {pgo, [{pools, [{default, #{ pool_size => 10
                             , host => "127.0.0.1"
                             , database => "my_database"
                             , user => "my_username"
                             , password => "my_password"
                             }
                   }
                  ]
         }
        ]
  }
].
